<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="usuario.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class="nav-right-section">
                <li>
                    <a href="">Link1</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li class="menu-icon">
                    <a href=""></a>
                </li>
                <li class="shop">
                    <a href=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <section class="main-table">
                <div class="container">
                    <div class="lbl-menu">
                        <label for="radio1">Usuarios</label>
                        <label for="radio2">Roles</label>
                    </div>
                    <div class="content">
                        <input type="radio" name="radio" id="radio1">
                        <div class="tab1">
                            <table class="styled-table">
                                <tr>
                                <th>Seleccionar</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Nickname</th>
                                <th>Correo</th>
                                </tr>
                                <tr>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>    
                                <td>Dahiana</td>
                                <td>Gomez</td>
                                <td>Dahiana@gmail.com</td>
                                <td>Dagomez</td>
                                </tr>
                                <tr>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td><td>German</td>
                                <td>Torres</td>
                                <td>Getorres@gmail.com</td>
                                <td>Getorres</td>
                                </tr>
                            </table>
                            <button>Agregar </button>
                            <button>Editar </button>
                            <button>Eliminar</button>
                        </div>
                        <input type="radio" name="radio" id="radio2">
                        <div class="tab2">
                            <table>
                                <tr>
                                <th>Usuario</th>
                                <th>Vendedor</th>
                                <th>Administrador</th>
                                <th>Gerente</th>
                                </tr>
                                <tr>
                                <td>Dagomez</td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                </tr>
                                <tr>
                                <td>Getorres</td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
                                </tr>
                            </table>
                            <button>Guardar Cambios </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        
        <section>

        </section>
    </main>
</body>
</html>