.loginPages-title{

        color: red;
}
.LoginPages-Fragment{
 text-align: center;
    margin-top: 200px;
    font-size: 50px ;
    color:aquamarine

}
    
    


.LoginPages-h1{
    text-align: center;
    margin-top: 200px;
    font-size: 50px ;
    color: rgb(248, 245, 245);
}
.LoginPages-h1{
    
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.label{
color: rgb(160, 88, 88);

}
#emailIngreso{
    height: 25px;
    width: 200px;

}

#password{
    height: 25px;
    width: 200px;


}
.div{

    text-align: center;
    margin-top: 10px;
}
.a{

    color: white;
}
.label-correo{
        align-self: center;

}