#agregar{
    margin-left: 16%;
    margin-top: 5%;
}

.btn-primary{
    margin-top: 2%;
}

h1{
    margin-bottom: 20px;
}

#table{
    margin-top: 5%;
}

.btn-success{
    margin-right: 5%;
}

.btn-danger{
    margin-left: 5%;
}