h1{
    margin-bottom: 20px;
}

.container{
    margin-top: 5%;
}

.btnEditar{
    background-color: #00695c;
    margin-right: 5px;

}

.btnEliminar{
    background-color: #b71c1c;
    margin-left: 5px;
}